body {
    background: url('../images/bg.png');
}

.container {
    width: 60%;
    margin: 40px auto;
    padding: 20px;
    display: none;
}

.wrapperSuccess {
    width: 60%;
    margin: 40px auto;
}

.wrapperError {
    width: 60%;
    margin: 40px auto;
}
